main.library {
  background-image: url(/assets/images/blurred_backgrounds/blur_bg_2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.album-covers {
  position: relative;
}

.library-album-container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.library-album-container .caption {
  margin-top: 10px;
}

.library-album-container .caption div {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.library-album-container .caption div a {
  color: rgba(255, 255, 255, 0.6);
}

.library-album-container .caption div a.album-name {
  color: white;
}

.library-album-container img {
  width: 80%;
}
